.movie-slider {
  position: relative;
  overflow: hidden;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-gap: 20px;
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* overflow: hidden; */
}

.movie-grid-wrapper {
  transition: transform 0.5s ease;
}

.movie-card {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.movie-card p {
  margin-top: 10px;
  flex-grow: 1;
}

  

.slick-slider {
    width: 80%;
    margin: 0 auto;
}

.slick-slide {
    padding: 10px;
}

